* {
    margin: 0;
}

body{    
    font-family: 'Nunito Sans', sans-serif;
    background: rgb(31,2,107);
background: linear-gradient(90deg, rgba(31,2,107,1) 0%, rgba(89,16,155,1) 8%, rgba(113,59,224,1) 20%, rgba(134,75,203,1) 35%, rgba(101,24,147,1) 47%, rgba(94,26,140,1) 66%, rgba(99,14,242,1) 100%);
}

header {
    background-color: purple;
    padding: 10px;
    color: #fff;
    text-align: center;
    
}
main {
    padding: 30px 50px;
    
}

.card{
    background-color: #fff;
    border: 1px solid purple;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: blueviolet;
}

.lineInput{
    display: grid;
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border: 1px solid purple;
    border-radius: 3px;
    outline: 0;
}

button{
    border: 0;
    padding: 10px;
    outline: 0;
    background-color: purple;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    transition: all ease 0.2s;
}

button:hover{
    background-color: rgb(71, 2, 71);

}

.content {
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border: 10px purple;
    width: 25%;
    
}

table th {
    background-color: rgb(236, 138, 203);

}

table th, tr {
    text-align: left;
    padding: 1px 5px;
}

table td img {
    width: 20px;
}

.center {
    text-align: center;
}

